<p>
  header works!
</p>

<nav class="navbar navbar-tab">
  <div class="container-fluid btn-success">
    <div class="navbar-header ">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav nav-tabs">
      <li class="active " ><a class="glyphicon glyphicon-home" routerLink ="/home">Home</a></li>
      <li><a routerLink ="/about">About</a></li>
      <li><a class="glyphicon glyphicon-list-alt"routerLink ="/contact">Contact</a></li>
      
      <li><a class="glyphicon glyphicon-list-alt"routerLink ="/Registrationform">Registrationform</a></li>
      <li><a routerLink ="/signup">Signup</a></li>
      <li><a routerLink ="/signin">Signin</a></li>
      <li><a routerLink ="/parent">Parent data</a></li>
      <li><a routerLink ="/reactive">Reactiveforms</a></li>
      <li><a  class="glyphicon glyphicon-search"  >Search</a></li>
      <button class="search-btn"><i class="fa fa-search"></i> search</button>

      
    </ul>
  </div>
</nav>
<div class="container-fluid">
<router-outlet></router-outlet>
</div>