<p>
  moviedetailslist works!
</p>


<div class="jumbotron">
  <div *ngFor =  "let poster of myMoviedetails">
    
    <div class="row">
      <div class="col-md-8">
        
            <p>Title : {{poster.Title}}</p>
            <p>Year : {{poster.Year}}</p>
            <p>Rated : {{poster.Rated}}</p>
            <p>Released : {{poster.Released}}</p>
            <p>Runtime : {{poster.Runtime}}</p>
            <p>Genre : {{poster.Genre}}</p>
            <p>Director : {{poster.Director}}</p>
            <p>Writer : {{poster.Writer}}</p>
            <p>Actors : {{poster.Actors}}</p>
            <p>Plot : {{poster.Plot}}</p>
            <p>Language : {{poster.Language}}</p>
            <p>Country : {{poster.Country}}</p>
            <p>Awards : {{poster.Awards}}</p>
            <p>Metascore : {{poster.Metascore}}</p>
            <p>imdbRating : {{poster.imdbRating}}</p>
            <p>imdbVotes : {{poster.imdbVotes}}</p>
            <p>imdbID : {{poster.imdbID}}</p>
            <p>Type : {{poster.Type}}</p>
            <p>DVD : {{poster.DVD}}</p>
            <p>BoxOffice : {{poster.BoxOffice}}</p>
            <p>Production : {{poster.Production}}</p>
            <p>Website : {{poster.Website}}</p>
            <p>Response : {{poster.Response}}</p>
      </div>
    
      <div class="col-md-4">
          <p><img  class="imagesize" [src]="poster.Poster"></p>
      </div>
    </div> 
  </div>
  <div (click) ="goback()">Back</div>
</div>



