<body>
  <form #userData="ngForm" (ngSubmit)="onsubmit(userData.value)">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-sm-6 ">
          <img src="../assets/BG 1.jpg" class="img-circle img-responsive " width="500px" height="240px" alt="">
        </div>
        <div class="col-sm-6 ">
          <div class="form-group">

            <label for=""><i class="fa fa-user fa-fw"></i>UserName:</label>
            <input type="text" placeholder="username" class="form-control" name="username" ngModel #nameRef="ngModel"
              required minlength="5" pattern="[a-z]+[0-9]{4,6}">
            <div *ngIf="nameRef.errors && (nameRef.touched ||nameRef.dirty)" class="btn-danger">
              <div [hidden]="!nameRef.errors.required">Enter name</div>
              <div [hidden]="!nameRef.errors.minlength">Enter atleast 5 Char</div>
              <div [hidden]="!nameRef.errors.pattern">Enter atleast [a-z]+[0-9]</div>
            </div>

          </div>
         
          <div class="form-group">
            <label for=""><i class="fa fa-key fa-fw"></i>Password:</label>
            <input type="password" placeholder="password" class="form-control" name="password" ngModel
              #passwordRef="ngModel" required minlength="5" pattern="[a-z-A-Z]+[0-9]{4,6}">
            <div *ngIf="passwordRef.errors && (passwordRef.touched ||passwordRef.dirty)" class="btn-primary">
              <div [hidden]="!passwordRef.errors.required">Enter password</div>
              <div [hidden]="!passwordRef.errors.minlength">Enter atleast 5 Char</div>
              <div [hidden]="!passwordRef.errors.pattern">Enter Valid data </div>
            </div>

          </div>
          <div class="form-group">
            <button [disabled]="!userData.valid" type="submit" class=" btn btn-danger">submit</button>
                
          </div>
          <h5>OR</h5>
          <div>
            <button type="submit" class="btn #5c6bc0 indigo lighten-1">Request OTP</button>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-5">
          <p>Don't have an account?</p>
        </div>
        <div class="col-md-7">
          <a  class="btn btn-success" (click)="onSubmits()">Sign Up</a>
        </div>
        </div>
        </div>
      </div>
    </div>

  </form>
</body>
