<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <img src="../assets/img1.jpg" class="img-circle img-responsive " width="500px" height="240px" alt="">
      </div>
      <div class="col-sm-6 ">
        <div class="form-group">
          <label for="" class="btn-success">UserName:</label> <span class="glyphicon glyphicon-user"></span>
          <input type="text" placeholder="username" class="form-control">
        </div>

        <div class="form-group">
          <label for="" class="btn-success">UserPassword:</label> <span class="glyphicon glyphicon-lock"></span>
          <input type="password" placeholder="password" class="form-control">
        </div>
        <div class="form-group">
          <button type="submit" class="btn-danger">submit</button>

        </div>

      </div>
      </div>
    </div>
</body>