body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/assets/BG 1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
  
}
label,input{
    color: brown;
    font-size: 20px;
}