<p>
  contact works!
</p>
<div class="jumbotron">
  <p class="text center">
    GOT QUESTIONS?
  </p>
  <p class="text center">
    If you have any query regarding the solutions we offer. Please feel free to give us a call and we will be happy to
    help you find the right solution for your business.
  </p>

</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 bg color btn-warning">
      <form action="">
        <div class="form-group">
          <label for="">Name</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input type="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Subject</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Phone Number</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Message</label>
          <textarea name="" id="" cols="20" rows="5" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn-info"> Send Enquiry</button>
      </form>
    </div>
    <div class="col-md-7 btn-danger">
      <h2 class="myclass">ECommerce CyberTech Pvt.Ltd</h2>
      <h3>
        Hyderbad
      </h3>
      <h4>Address:</h4>
      <p>ECommerce CyberTech Pvt.Ltd.</p>
      <p>A-58/A,3th floor. SS Chambers,SAP street, Ameerpet Road, Hyderabad - 500025.</p>
      <div class="row">
        <div class="col-md-6">
          <p>Contact person:Chiranjeevi</p>
        </div>
        <div class="col-md-6">
          <p>phone no: 964236696553</p>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <a href="mailto:contactus@ecommercecybertech.com "> contactus@ecommercecybertech.com</a>
          </div>
          <div class="col-md-6">
            <p>call us: 964236696553</p>
            
          </div>
        </div>
        <p>Monday - Saturday: 9:00 AM to 6:00 PM</p>
        <div class="row">
          <div class="col-md-6">
            <h3>New Delhi</h3>
            <p>Contact Person:Shankar</p>
            <p>mobile no:+91-962545266525</p>
          </div>
          <div class="col-md-6">
              <h3>Chennai</h3>
              <p>Contact Person:Sai</p>
              <p>mobile no:+91-9654361365452</p>
            </div>
        </div>
    </div>
    
  </div>
</div>
<div class="container-fluid">
  <h3>About us</h3>
    Cybertech Pvt.Ltd. empowers retail formats worldwide with reliable, flexible and easy-to-use software applications and products. Our understanding of retail business and changing industry dynamics helps us design and develop retail software applications which complement your business to function more effectively and efficiently.
</div>

<div class="container-fluid">
  <div class="row bg color btn-primary">
    <div class="col-md-3">
      <i class="fa fa-info-circle " aria-hidden="true"></i>
      <p>Need help ?</p>
      <a href="">View Our knowledge Center</a>
    </div>
    <div class="col-md-3">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <p>24x7 Support</p>
      <a href="">wecare@sitename</a>
    </div>
    <div class="col-md-3">
      <i class="fa fa-download" aria-hidden="true"></i>
      <p>Download Our App</p>

    </div>
    <div class="col-md-3">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      <p>Connect with Us</p>

    </div>

  </div>
</div>
<hr>
<div class="container-fluid ">
<footer>
  
  <img src="/assets/E-Commerce.jpg" alt="" width="50px" height="50px">
  <a routerLink="/about">About</a>
  <a routerLink="/about">Terms & Conditions</a>
  <p style="float:right">© 2011-2019 ECommerce CyberTech Pvt.Ltd. All rights reserved</p>

</footer>
</div>