<p>
  reactiveforms works!
</p>

<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <!-- <style>
      
        @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
        </style> -->
</head>
<body>
  

<form action="" [formGroup]="formdata" (ngSubmit)="mybtton(userForm)">
  <div class="form-group">
    <label for="">User name:</label>
    <input type="text" placeholder="username" class="form-control" formControlName="username">
  </div>

  <div class="form-group">
    <label for="">Password:</label>
    <input type="password" placeholder="password" class="form-control" formControlName="password">
  </div>

  <div class="form-group">
    <label for="">Retry-Password:</label>
    <input type="password" placeholder="retry-password" class="form-control" formControlName="retrypassword">
  </div>

  <div class="form-group">
    <label for="">Email:</label>
    <input type="email" placeholder="email" class="form-control" formControlName="emailid">
  </div>

  <div class="form-group">
    <label>Car models:</label>
    <input type="checkbox" name="models" formControlName="usercheck">BMW
    <input type="checkbox" name="models" formControlName="usercheck">Swift
    <input type="checkbox" name="models" formControlName="usercheck">Swift car
  </div>
  <div class="form-group">
    <label for=""> Gender</label>
    <input type="radio" name="gender" value="radio" formControlName="radiob">Male
    <input type="radio" name="gender" value="radio" formControlName="radiob">Female
  </div>

  <!-- <div class="form-group">
    <label class="btn-info">Language</label>
    <select name="" id="" formControlName="dropdown">
      <option value=""> select language</option>
  
      <option *ngFor="let lang of langs" [value]="lang">
        {{lang}}
      </option>
  
    </select>
  </div> -->
</form>
</body>