<p>
  mycart works!
</p>
count is :{{number}}
<table class="table table-bordered">
  <thead class="thead-light" *ngIf="imageaddtocart>0">
    <th>Id</th>
    <th>Image</th>
    <th>Name</th>
    <th>Action</th>
  </thead>
  <tbody>
  <tr *ngFor="let imgcart of imageaddtocart">
      <td>
          {{imgcart.id}} 
        </td>
<td>
  
  <img [src]="imgcart.urls.raw" alt="" width="150px" height="150px">
</td>
<td>{{imgcart.user.name}}</td>
<td>
  <button type="submit" (click)="onAddid(imgcart)" class="btn btn-success">+</button>
  <input type="text" [ngModel]="imgcart.id" (ngModelChage)="imgcart.id"> 
  <button type="submit" (click)="onDelete(imgcart)" class="btn btn-danger">-</button>
</td>
  </tr>
</tbody>
</table>
