<p>
  signup works!
</p>
<pre>{{userDataForm.value |json}}</pre>
<h2 class="btn-info text center">{{text | uppercase}}</h2>
<div class="container-fluid">
  <form [formGroup]="userDataForm" (ngSubmit)="onSubmit(userDataForm)">
          <!-- nested form -->
    <div formGroupName="name">
      <div class="form-group">
        <div class="row">
          <div class="col s6">
            <label for="">First name:</label>
            <input type="text" class="form-control" placeholder="First name" formControlName="firstname">
            <div *ngIf="Submitted && userDataForm.get('name.firstname').errors">
              <div *ngIf="userDataForm.get('name.firstname')['errors']['required']">
                <small class="myclass"> firstname is required</small>
              </div>
            </div>
          </div>
          <div class="col s6">
            <label for="">last name:</label>
            <input type="text" class="form-control" placeholder="Last name" formControlName="lastname">
            <div *ngIf="Submitted && userDataForm.get('name.lastname').errors">
                <div *ngIf="userDataForm.get('name.lastname')['errors']['required']">
                  <small class="myclass">lastname is required</small>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
            <!-- username and password -->
    <div class="form-group">
      <div class="row">
        <div class="col s6">
          <label for=""> UserName:</label>
          <input type="text" class="form-control" placeholder="User name" formControlName="username">
          <div *ngIf="Submitted && userDataForm.get('username').errors">
              <div *ngIf="userDataForm.get('username')['errors']['required']">
                <small class="myclass"> username is required</small>
              </div>
            </div>
        </div>
        <div class="col s6">
          <label for="">PassWord:</label>
          <input type="password" class="form-control" placeholder="password" formControlName="password">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col s6">
          <label for="">Retry-Password:</label>
          <input type="password" class="form-control" placeholder="retrypassword" formControlName="retrypassword">
        </div>
        <div class="col s6">
          <label for="">Email id:</label>
          <input type="email" class="form-control" placeholder="email" formControlName="email">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col s6">
          <label>products:</label>
          <label *ngFor="let producscheckbox of producscheckboxs">
            <input type="checkbox" value="{{producscheckbox.checs}}"  name="checkbox"
            (click)="onClicked($event)" formControlName="checkbox" />
            <span>{{producscheckbox.checs}}</span>
          </label>

        </div>
      </div>
      <div class="col s6">
        <label for="">Gender:</label>
        <label *ngFor="let radioGender of radioGenders">
          <input type="radio" class="with-gap" name="gender" [value]="radioGender"
            formControlName="gender"><span>{{radioGender}}</span>
        </label>

      </div>
    </div>
    <button type="submit" class="btn-info">Submit</button>
    <h3 *ngIf="message">{{success}}</h3>
  </form>
</div>