<p>
  womensdetails works!
</p>

<div class="container-fluid">
    <div class="row">
    <div class="col-md-3">
      <i class="fa fa-info-circle " aria-hidden="true"></i>
      <p >Need help ?</p>
      <a href="">View Our knowledge Center</a>
    </div>
    <div class="col-md-3">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <p >24x7 Support</p>
      <a href="">wecare@sitename</a>
    </div>
    <div class="col-md-3">
      <i class="fa fa-download" aria-hidden="true"></i>
      <p >Download Our App</p>
      
    </div>
    <div class="col-md-3">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      <p >Connect with Us</p>
     
    </div>
    
    </div>
    </div>
    <hr>
    <footer>
      <img src="/assets/E-Commerce.jpg" alt="" width="50px" height="50px">
    <a routerLink="/about">About</a>
    <a routerLink="/about">Terms &  Conditions</a>
    <p style="float:right">© 2011-2019 ECommercewebsite. All rights reserved</p>
    </footer>
