<p>
  mensdetailslist works!
</p>
<div class="container-fluid">
  <div class="row">
    <div class="col-m6">
      <div class="card">
        <img class="card-img-top img-rounded" src="/assets/business1.png" alt="" width="20px" height="300px">
        <div class="row">
          <div class="col-m6">
            <button type="submit" class="btn btn-success" (click)="addCart()"><i class="fa fa-cart-plus"></i>ADD TO
              CART</button>
          </div>
          <div class="col-m6">
            <button type="submit" class="btn btn-danger ! mystyle" ><i class="fa fa-credit-card-alt" ></i>BUY
              NOW</button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-m6">
      <div class="jumbotron">
        <p>Color block Men Hooded Black, Red T-Shirt</p>

      </div>
    </div>
  </div>