<p>
  mensdetailslist works!
</p>
<div class="container-fluid">
  <div class="row">
    <div class="col-m6">
      <div class="card">
        <img class="card-img-top img-rounded" src="/assets/business1.png" alt="" width="200px" height="300px">
        <div class="row">
          <div class="col-m6">
            <button type="submit" class="btn-danger text-color pink"><i class="fa fa-cart-plus" aria-hidden="true"></i>ADD TO CART</button>
          </div>
          <div class="col-m6">
            <button type="submit" class="btn-info bg-lg" ><i class="fa fa-credit-card-alt" aria-hidden="true"></i>BUY NOW</button>
          </div>
        </div>
      </div>
      <div class="col-m6">
        <div class="jumbotron ">
          <p>Color block Men Hooded Black, Red T-Shirt</p>

        </div>
      </div>
    </div>
  </div>