
<div class="container">
  <form  #searchData="ngForm" (ngSubmit)="submitData(searchData)">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="form-group">
          <label>Search By Title</label>
          <input type="text" class="form-control" placeholder="Search By Title" 
          ngModel name="title" #title="ngModel">
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="form-group">
          <label>Search By Year</label>
          <input type="search" class="form-control" placeholder="Search By Year" 
          ngModel name="year" #year="ngModel">
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="form-group">
          <label>Search By Type</label>
          <select name="" id="" class="form-control" ngModel name="type" #type="ngModel">
            <option value="">Select Category</option>
            <option [value]="movies.movieType" *ngFor="let movies of movieTypes">{{movies.movieType}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="form-group">
          <label>&nbsp;</label>
          <button class="btn btn-success btn-block" type="submit">Search</button>
        </div>
      </div>  
    </div>
  </form>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Movie Title</th>
        <th>Movie Poster</th>
        <th>Movie Type</th>
        <th>Movie Year</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let movie of movies">
        <td>{{movie.Title}}</td>
        <td><img [src]="movie.Poster" (click) ="viewSingleObject(movie)" class="photo"></td>
        <td>{{movie.Type}}</td>
        <td>{{movie.Year}}</td>
      </tr>
      <tr *ngIf="movies.length > 0">
        <td colspan="5">{{posterNotFound}}</td></tr>
    </tbody>
  </table>
</div>