
<!-- <div class="container-fluid padding">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top img-rounded"
          src="/assets/business1.png" alt=""
          width="200px" height="300px" name="OrteliusWorldMap"
          onmouseover="OrteliusWorldMap.width='500';OrteliusWorldMap.height='500';"
onmouseout="OrteliusWorldMap.width='200';OrteliusWorldMap.height='300';">
        <div class="card-body">
          <h4 class="card-title"> Sai</h4>
          <p class="card-text display-4">I have 3 + years of exp in web Developer in octal systems at kukatpally near
            fouram mall </p>
         
           <button type="submit"  class=" btn-info btn-outline-danger btn-lg" (click) ="seemore()">see more</button>

        </div>

      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top img-rounded"
          src="/assets/business2.png" alt=""
          width="200px" height="300px">
        <div class="card-body">
          <h4 class="card-title"> Sai</h4>
          <p class="card-text display-4">I have 3 + years of exp in web Developer in octal systems at kukatpally near
            fouram mall </p>
          <a href="#" class="btn-outline-danger btn-lg">See more </a>

        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top img-rounded"
          src="/assets/business3.png" alt=""
          width="200px" height="300px">
        <div class="card-body">
          <h4 class="card-title"> Sai</h4>
          <p class="card-text display-4">I have 3 + years of exp in web Developer in octal systems at kukatpally near
            fouram mall </p>
          <a href="#" class="btn-outline-danger btn-lg">See more </a>

        </div>

      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top img-rounded"
          src="/assets/business4.png" alt=""
          width="200px" height="300px">
        <div class="card-body">
          <h4 class="card-title"> Sai</h4>
          <p class="card-text display-4">I have 3 + years of exp in web Developer in octal systems at kukatpally near
            fouram mall </p>
          <a href="#" class="btn-outline-danger btn-lg">See more </a>

        </div>

      </div>
    </div>
  </div>
</div> -->
<body>
  

<div class="container-fluid">
  
    
  <div class="row">
    <div class="  mystyle col-md-2">
        
<form action="">
    <fieldset>
        <legend>Filters</legend>
        <label for="">Quantity</label>
  <input type="number">
  <label for="">Name</label>
  <input type="text">
  <label for="">Rangers</label>
  <input type="range" min="0" max="11">
  <label>
      <input  type="checkbox" />
      <span>Indeterminate Style</span>
    </label>
</fieldset>
</form>

    </div>
  
    <div class=" offset-md-1  jumbotron col-md-9">
<table class="table-bordered">
  <tr *ngFor="let Image of webImages">
      <td><img [src]="Image.urls.raw" alt="images from api" width="250px"height="270px"></td>
      <!-- <td>{{Image.alt_description}}</td> -->
      <td>{{Image.user.name}}</td>
      <td>{{Image.user.location}}</td>
      <!-- <td>{{Image.sponsorship.tagline}}</td> -->
      <!-- <td>{{Image.sponsorship.impressions_id}}</td> -->
      
      <td>
        
      <div class="row">
        <div class="col-md-6">
      <button type="submit" class="btn btn-success" (click)="addCart(Image)"><i class="fa fa-cart-plus"></i>ADD TO
        CART</button>
      </div>
        <div class="col-md-6">
        <button type="submit" class="btn btn-danger ! mystyle1" ><i class="fa fa-credit-card-alt" ></i>BUY
          NOW</button>
        </div>
        </div>
      
      </td>
  </tr>
  
</table>
</div>
</div>
</div>
</body>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-3">
      <i class="fa fa-info-circle " aria-hidden="true"></i>
      <p >Need help ?</p>
      <a href="">View Our knowledge Center</a>
    </div>
    <div class="col-md-3">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <p >24x7 Support</p>
      <a href="">wecare@sitename</a>
    </div>
    <div class="col-md-3">
      <i class="fa fa-download" aria-hidden="true"></i>
      <p >Download Our App</p>
       
    </div>
    <div class="col-md-3">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      <p >Connect with Us</p>
     
    </div>
    
    </div>
    </div>
    <hr>
    <footer>
        <div class="row">
          <div class="col-md-2">
      <img src="/assets/E-Commerce.jpg" alt="" width="50px" height="50px">
    </div>
      <div class="col-md-3">
    <a routerLink="/about">About</a> 
  </div>
<div class="col-md-3">
    <a routerLink="/about">Terms &  Conditions</a>
  </div>
  <div class=" offset-md-1 col-md-3">
    <p style="float:right">© 2011-2019 website. All rights reserved</p>
  </div>
    
  </div>
  </footer>
