<p>
  mensdetails works!
</p>
<div class="container-fluid padding">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top img-rounded"
          src="/assets/business1.png" alt=""
          width="200px" height="300px" name="OrteliusWorldMap"
          onmouseover="OrteliusWorldMap.width='500';OrteliusWorldMap.height='500';"
onmouseout="OrteliusWorldMap.width='200';OrteliusWorldMap.height='300';">
        <div class="card-body">
          <h4 class="card-title"> Sai</h4>
          <p class="card-text display-4">I have 3 + years of exp in web Developer in octal systems at kukatpally near
            fouram mall </p>
          <!-- <a href="https://www.google.com/ " target="_blank" class=" btn-info btn-outline-danger btn-lg">See more </a>
           -->
           <button type="submit"  class=" btn-info btn-outline-danger btn-lg" (click) ="seemore()">see more</button>

        </div>

      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top img-rounded"
          src="/assets/business2.png" alt=""
          width="200px" height="300px">
        <div class="card-body">
          <h4 class="card-title"> Sai</h4>
          <p class="card-text display-4">I have 3 + years of exp in web Developer in octal systems at kukatpally near
            fouram mall </p>
          <a href="#" class="btn-outline-danger btn-lg">See more </a>

        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top img-rounded"
          src="/assets/business3.png" alt=""
          width="200px" height="300px">
        <div class="card-body">
          <h4 class="card-title"> Sai</h4>
          <p class="card-text display-4">I have 3 + years of exp in web Developer in octal systems at kukatpally near
            fouram mall </p>
          <a href="#" class="btn-outline-danger btn-lg">See more </a>

        </div>

      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top img-rounded"
          src="/assets/business4.png" alt=""
          width="200px" height="300px">
        <div class="card-body">
          <h4 class="card-title"> Sai</h4>
          <p class="card-text display-4">I have 3 + years of exp in web Developer in octal systems at kukatpally near
            fouram mall </p>
          <a href="#" class="btn-outline-danger btn-lg">See more </a>

        </div>

      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-3">
      <i class="fa fa-info-circle " aria-hidden="true"></i>
      <p >Need help ?</p>
      <a href="">View Our knowledge Center</a>
    </div>
    <div class="col-md-3">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <p >24x7 Support</p>
      <a href="">wecare@sitename</a>
    </div>
    <div class="col-md-3">
      <i class="fa fa-download" aria-hidden="true"></i>
      <p >Download Our App</p>
       
    </div>
    <div class="col-md-3">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      <p >Connect with Us</p>
     
    </div>
    
    </div>
    </div>
    <hr>
    <footer>
        <div class="row">
          <div class="col-md-2">
      <img src="/assets/E-Commerce.jpg" alt="" width="50px" height="50px">
    </div>
      <div class="col-md-3">
    <a routerLink="/about">About</a> 
  </div>
<div class="col-md-3">
    <a routerLink="/about">Terms &  Conditions</a>
  </div>
  <div class=" offset-md-1 col-md-3">
    <p style="float:right">© 2011-2019 website. All rights reserved</p>
  </div>
    
  </div>
  </footer>
