<p>
  bootstarp4drop works!
</p>
<div class="container">
  <div class="btn-group">
    <button type="button" class="btn btn-primary">Apple</button>
    <button type="button" class="btn btn-primary">Samsung</button>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Sony
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Tablet</a>
        <div class="dropdown dropright">
            <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Smartphone
          </button>
         
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">I Phone</a>
            <a class="dropdown-item" href="#">Nokia phone</a>
            <a class="dropdown-item" href="#">Lenovo phone</a>
          </div>
        </div>
        </div>
        <a class="dropdown-item" href="#">Pc</a>
        <a class="dropdown-item" href="#">System</a>

      </div>
    </div>
  </div>
</div>


<div class="container">
  <h2>Dropdowns</h2>
  <p>Add the .dropright class next to the dropdown menu to right-align the dropdown. Note that the caret/arrows is added automatically:</p>
  <div class="dropdown dropright">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Dropright button
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Link 1</a>
      <a class="dropdown-item" href="#">Link 2</a>
      <a class="dropdown-item" href="#">Link 3</a>
    </div>
  </div>
</div>
