<p>
  addingempl works!
</p>
<div>
  <form action="" #userdata ="ngForm" (ngSubmit)="onFunction(userdata.value)">
    <div class="form-group">
      <label for="">Id</label>
      <input type="text" class="form-control" name="id" ngModel>
    </div>
    <div class="form-group">
      <label for="">Name</label>
      <input type="text" class="form-control" name="names" ngModel>
    </div>
    <div class="form-group">
      <label for="">Designation</label>
      <input type="text" class="form-control" name="designation" ngModel>
    </div>
    <div class="form-group">
      <label for="">Salary</label>
      <input type="text" class="form-control" name="Salary" ngModel>
    </div>
    <div class="form-group">
      <label for="">Having Car</label>
      <input type="text" class="form-control" name="Having Car" ngModel>
    </div>
    <div class="form-group">
      <label for="">Addresss</label>
      <input type="text" class="form-control" name="address" ngModel>
    </div>
    <div class="form-group">
      <button type="submit"  >Submit</button>
    </div>
  </form>
</div>