<p>
  about works!
</p>
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
  <img src="../assets/kids1.jpg" alt="" width="530px" height="450px" >

</div>
<div class="col-md-6">
  <img src="../assets/kids2.jpg" alt="" width="500px" height="450px" >
</div>
</div>

<div class="jumbotron">
 <p> We're Ecommerce CyberTech, India's largest online kids’ fashion brand. We promise to transform every moment in your little one’s life into a stylish #HopscotchMoment. From playtime to bedtime. From infancy to childhood. And everything in between. We curate the most fashionable and on-trend head-to-toe looks for every kid, every occasion and every moment of childhood.</p>
 <P>We bring you what your kids will love and yet be comfortable in by scouring the world and hand-picking aww-some new styles every single day.</P>
 <p>We're big believers in the little details - 'coz we know a darling embellishment here and a snazzy bow tie there can go a long way. We've taken great care in curating fun-loving, free-spirited styles that will forever delight you, your little one and your pocket.</p>
 <p>Enough about us already. It's time to create your stylish #Ecommerce CyberTech.<strong class="text-color yellow">Let’s get shopping.</strong> </p>
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-md-3">
  <i class="fa fa-info-circle " aria-hidden="true"></i>
  <p >Need help ?</p>
  <a href="">View Our knowledge Center</a>
</div>
<div class="col-md-3">
  <i class="fa fa-envelope-o" aria-hidden="true"></i>
  <p >24x7 Support</p>
  <a href="">wecare@sitename</a>
</div>
<div class="col-md-3">
  <i class="fa fa-download" aria-hidden="true"></i>
  <p >Download Our App</p>
  
</div>
<div class="col-md-3">
  <i class="fa fa-thumbs-up" aria-hidden="true"></i>
  <p >Connect with Us</p>
 
</div>

</div>
</div>
<hr>
<footer>
  <img src="/assets/E-Commerce.jpg" alt="" width="50px" height="50px">
<a routerLink="/about">About</a>
<a routerLink="/about">Terms &  Conditions</a>
<p style="float:right">© 2011-2019 ECommercewebsite. All rights reserved</p>
</footer>

