<p>
  moive works!
</p>
<div class="container">
<form action="" #userData ="ngForm" (ngSubmit)="onSubmit(userData.value)">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" #titleRef="ngModel" ngModel name="title">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Year</label>
        <input type="text" class="form-control" #yearRef="ngModel" ngModel name="year">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Plot</label>
        <select name="" id=""class="form-control" ngModel name="type" #type="ngModel">
        <option value="">Select Category</option>
            <option [value]="movies.movieType" *ngFor="let movies of movieTypes">{{movies.movieType}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <button type="submit" class="btn-danger">Search</button>
      </div>
    </div>
  </div>
</form>


  <table class="table table-bordered">
    <thead>
      <tr class="myclass">
        <td>Title</td>
        <td>Poster</td>
        <td>Year</td>
        <td>Type</td>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let movies of myMovies">
      <td>{{movies.Title}}</td>
    </tr> -->
      <tr *ngFor="let movies of myMovies">
        <td>{{movies.Title}}</td>
        <td><img [src]="movies.Poster" ></td>
        
        <td>{{movies.Year}}</td>
        <td>{{movies.Type}}</td>
      </tr>
    </tbody>
  </table>
</div>
